body {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bangers', cursive;
    background-image: linear-gradient(#b33d5dbe, #3e96b3be,  #3e96b3be), url(./img/comp.png) ;
}

h1 {
    padding: 10px;
    text-shadow: 3px 3px 3px #FFF345;
}

main {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
}

form {
    width: 100%;
}

h2 {
    padding: 10px;
    text-shadow: 3px 3px 3px #4db2ffa1;
}

label {
    padding: 10px;
}

input, select {
    font-family: 'Bangers', cursive;
}

.container-encode, .container-decode {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-around;
    padding: 16px;
    background-color: #fff459;
    border-radius: 10%;
    width: 50%;
}

.container-encode {
    margin: 2% 2% 2% 5%; 
}

.container-decode {
    margin: 2% 5% 2% 2%; 
}

.write-message, .read-message, .offset-encode, .offset-decode {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

button {
    margin: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    margin: 20px;
    align-items: center;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color:#b33d5d;
}

.image-details, .made-by, .contacts {
    margin-top: 5px;
}